<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Título de la Prueba</mat-label>
    <input matInput [(ngModel)]="testTitle" name="title" type="text" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha del Examen</mat-label>
    <input matInput [value]="testDate" type="text" disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccionar Asignatura</mat-label>
    <mat-select [(ngModel)]="ExamAsignature" name="asignature" required>
      <mat-option *ngFor="let asignature of asignatures" [value]="asignature">{{ asignature }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button type="button" (click)="onCreateAsignature()">Crear Asignatura</button>

  <mat-form-field>
    <mat-label>Tema</mat-label>
    <input matInput [(ngModel)]="examSubject" name="subject" type="text" required>
  </mat-form-field>

  <!-- Campo de texto para crear nueva asignatura -->
  <div *ngIf="showForm">
    <mat-form-field>
      <mat-label>Nueva Asignatura</mat-label>
      <input matInput [(ngModel)]="newAsignature" name="newAsignature" type="text">
    </mat-form-field>
    <button mat-raised-button type="button" (click)="addAsignature()">Agregar Asignatura</button>
  </div>

  <button mat-raised-button type="submit">Crear Prueba</button>
</form>

<!-- Desglose de las pruebas guardadas -->
<div *ngFor="let exam of savedExams">
  <h3>{{ exam.title }} - {{ exam.asignature }} - {{ exam.date | date:'shortDate' }}</h3>
  <p><strong>Tema:</strong> {{ exam.subject }}</p>
</div>
